.notificationList {
  position: absolute;
  background-color: var(--color-background);
  color: var(--color-text);
  transform: translateX(-45%);
  width: 300px;
  top: 30px;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
}

.notificationList:hover {
  color: var(--color-text);
  cursor: initial;
}