.chat {
  height: calc(100vh - 70px);
  display: flex;
  width: 75%;
  margin: 10px auto;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.chatConversations {
  flex: 2;
  border-right: 1px solid lightgray;
  border-radius: 5px;
  overflow-y: scroll;
}

.chatBox {
  flex: 5;
}

.chatConversationsWrapper {
  padding: 10px;
}

.chatBoxBottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 70px;
  resize: none;
}

.chatBoxWrapper {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatBoxTop {
  overflow-y: auto;
  height: 100%;
}

.chatBoxTopWrapper {
  padding-right: 10px;
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}

.noMessageInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  color: #e0dfdf;
  text-align: center;
  height: 100%;
}

.hidden {
  display: none;
}
