.editGroup {
  margin-bottom: 10px;
  display: flex;
}

.key {
  margin-top: 8px;
  display: inline-block;
  width: 80px;
  text-align: right;
  font-weight: bold;
  padding-right: 5px;
}

.input {
  flex-grow: 1;
}

.saveWrapper {
  padding-top: 10px;
  display: flex;
  justify-content: right;
}