.userListElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.usernameWithPhoto {
  display: flex;
  flex: 4;
  text-decoration: none;
  color: var(--color-background);
}

.usernameWithPhoto:hover {
  color: var(--color-text-hover);
  cursor: pointer;
}

.chatButton {
  cursor: pointer;
  display: flex;
  flex: 1;
  color: var(--color-background);
}

.chatButton:hover {
  color: var(--color-text-hover);
}

.username {
  font-weight: bold;
}

